body {
	background-color: #1e90ff;
	background-image: url(achtergrondwolken.png);
	background-size: 100%;
	height:4600px;
	overflow-y: hidden;
	padding: 0px;
	margin: 0px;
}

.sprite {
	width: 204px;
	height: 395px;
    bottom: 14.5%;
	overflow: auto;
	position: fixed;
	left: 44%;
}

img#wolkjes {
	width: 100%;
}

img#stadion1913 {
	z-index: 1;
	position: absolute;
	top: 5%;
	left: 100%;
	width: 50%;
}

img#poort {
	z-index: 2;
	position: absolute;
	top: 26%;
	left: 22%;
	width: 56%;
}

.right {
    background-image: url(poppetjerechts.png);
}

.left {
	background-image: url(poppetjelinks.png);
}

.walk-right {
	background-image: url(spritephotoshop.png);
	-webkit-animation: walk .6s steps(8) infinite;
	-moz-animation: walk .6s steps(8) infinite;
	-ms-animation: walk .6s steps(8) infinite;
	-o-animation: walk .6s steps(8) infinite;
    animation: walk .6s steps(8) infinite;
}

.walk-left {
	background-image: url(lopenlinks.png);
	-webkit-animation: walk .6s steps(8) infinite;
	-moz-animation: walk .6s steps(8) infinite;
	-ms-animation: walk .6s steps(8) infinite;
	-o-animation: walk .6s steps(8) infinite;
	animation: walk .6s steps(8) infinite;
}

@keyframes walk {
	from { background-position: 0px; }
	to { background-position: -1632px; }
}

img#gras {
    position: absolute;
    width: 3008px;
    height: 157px;
    left: -160px;
	bottom: 0px;
	z-index: 2;
}

::-webkit-scrollbar { 
    display: none;
}

#container-blauw {
	width: 200px;
	height: 200px;
	color: red;
}

h1 {
	animation: type 3s steps(44);
	overflow: hidden;
	white-space: nowrap;
	font-family: consolas;
	border-right: 4px solid white;
	position: absolute;
	color: white;
	bottom: 5%;
	left: 25%;
	z-index: 5;
}

@keyframes type {
	0% {
	width: 0ch;
}
100% {
	width: 44ch;
  }
}