body {
	background-color: #1e90ff;
	background-image: url(achtergrondwolken.png);
	background-size: 100%;
	background-attachment: fixed;
	height:4600px;
	overflow-y: hidden;
	padding: 0px;
	margin: 0px;
	display: flex;
}

.sprite {
	width: 204px;
	height: 395px;
    bottom: 14.5%;
	overflow: auto;
	position: fixed;
	left: 44%;
	z-index: 2;
}

img#grasvoorstadion {
	position: absolute;
	left: 120%;	
	width: 34%;
	top: 77%;
	z-index: 2;
}

img#wolkjes {
	width: 100%;
}

img#stadion1913 {
	z-index: 1;
	position: absolute;
	bottom: 15%;
	left: 120%;
	width: 50%;
}

img#poort {
	z-index: 2;
	position: absolute;
	bottom: 12%;
	left: 21%;
	width: 900px;
}
  
  img#bal1 {
	width: 60px;
	height: 60px;
	animation: bounce 0.5s;
	animation-direction: alternate;
	animation-timing-function: cubic-bezier(.5,0.05,1,.5); /* Hier geef ik de bal wat meer 'bounce-effect' door hem
															  sneller te laten gaan wanneer hij bijna de grond raakt. */
	animation-iteration-count: infinite;
	position: absolute;
	margin-left: 220%;
	bottom: 40%; 
  }
  
  /* Dit is de basketbal. Hier zeg ik dat de x, y en z as 0 moeten zijn bij de start
     en alleen de y as naar 200px moet gaan. */
  @keyframes bounce {
	from { transform: translate3d(0, 0, 0);     }
	to   { transform: translate3d(0, 200px, 0); }
  }

  
  @-webkit-keyframes bounce {
	from { -webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }
	to   { -webkit-transform: translate3d(0, 200px, 0); transform: translate3d(0, 200px, 0); }
  }


.right {
    background-image: url(poppetjerechts.png);
}

.left {
	background-image: url(poppetjelinks.png);
}

/* Bij walk-right en walk-left deelt hij de afbeelding van de sprite in 8 stukken, 
   in 0.6 seconden, en dit doet hij oneindig lang. */
.walk-right {
	background-image: url(spritephotoshop.png);
	-webkit-animation: walk .6s steps(8) infinite;
	-moz-animation: walk .6s steps(8) infinite;
	-ms-animation: walk .6s steps(8) infinite;
	-o-animation: walk .6s steps(8) infinite;
    animation: walk .6s steps(8) infinite;
}

.walk-left {
	background-image: url(lopenlinks.png);
	-webkit-animation: walk .6s steps(8) infinite;
	-moz-animation: walk .6s steps(8) infinite;
	-ms-animation: walk .6s steps(8) infinite;
	-o-animation: walk .6s steps(8) infinite;
	animation: walk .6s steps(8) infinite;
}

/* Hier loopt hij de afbeelding af van 0 tot 1632 pixels. */
@keyframes walk {
	from { background-position: 0px; }
	to { background-position: -1632px; }
}

img#poort1913 {
	height: 360px;
	position: absolute;
	bottom: 11%;
	left: 100%;
}

img#gras {
    position: absolute;
    width: 3008px;
    height: 157px;
    left: -160px;
	bottom: 0px;
	z-index: 2;
}

img#gras2 {
    position: absolute;
    width: 3008px;
    height: 157px;
    left: 1000px;
	bottom: 0px;
	z-index: 2;
}

img#gras3 {
    position: absolute;
    width: 3008px;
    height: 157px;
    left: 2160px;
	bottom: 0px;
	z-index: 2;
}

::-webkit-scrollbar { 
    display: none;
}

#container-blauw {
	width: 200px;
	height: 200px;
	color: red;
}

h1 {
	font-family: 'Heebo', sans-serif;
	animation: type 3s steps(36);
	overflow: hidden;
	white-space: nowrap;
	border-right: 4px solid white;
	position: absolute;
	color: white;
	bottom: 4%;
	left: 30%;
	z-index: 5;
}

img#tekstwolkje {
	display: none;
    position: fixed;
	bottom: 50%;
	left: 54%;
    width: 20%;
    z-index: 10;
}

img#zozieteenbaleruit {
	height: 120px;
	position: absolute;
	top: 350px;
	left: 3480px;
}

img#pijltjes {
	height: 100px;
	position: absolute;
	bottom: 3%;
	left: 45.5%;
	z-index: 4;
}